footer.w-100.text-center
	.container
		.row
			.col-xs-12.col-sm-12.col-md-4.col-lg-4
				span Copyright &copy 
					a(href="#") Your Website 2014
			.col-xs-12.col-sm-12.col-md-4.col-lg-4
				include links-redes-sociales.jade
			.col-xs-12.col-sm-12.col-md-4.col-lg-4
				ul
					li
						a(href="#") Privacy Policy
					li
						a(href="#")	Terms of Use