header.header_area
	nav.navbar.navbar-fixed-top.nav-agency-theme
		.container
			.navbar-header
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
					span.sr-only Toggle Navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="#") Start Bootstrap
			#navbar.navbar-collapse.collapse
				ul.nav.navbar-nav.navbar-right
					li: a(href="#services") Services
					li: a(href="#portfolio") Portfolio
					li: a(href="#about") About
					li: a(href="#team") Team
					li: a(href="#contact") Contact