#portfolio.portfolio.bg-gray
	+container('Portfolio', 'Lorem ipsum dolor sit amet, consectetur.')
		.row
			+col4-a-img-h4-p('#', 'img/portfolio/roundicons.png','ROUND ICONS PICTURE', 'Round Icons', 'Graphic Design')
			+col4-a-img-h4-p('#', 'img/portfolio/startup-framework.png','START-UP FRAMEWORK PICTURE', 'Startup Framework', 'Website Design')
			+col4-a-img-h4-p('#', 'img/portfolio/treehouse.png','TREEHOUSE PICTURE', 'Startup Framework', 'Website Design')
		.row
			+col4-a-img-h4-p('#', 'img/portfolio/golden.png','GOLDEN PICTURE', 'Golden', 'Web Site')
			+col4-a-img-h4-p('#', 'img/portfolio/escape.png','ESCAPE PICTURE', 'Escape', 'Website Design')
			+col4-a-img-h4-p('#', 'img/portfolio/dreams.png','DREAMS PICTURE', 'Dreams', 'Website Design')