#services.services
	+container('Services', 'Lorem ipsum dolor sit amet, consectetur.')
		.row
			+col4
				a(href="#")
					i.fa.fa-shopping-cart
				+h4-p('E-Commerce')
			+col4
				a(href="#")
					i.fa.fa-laptop
				+h4-p('Responsive Design')
			+col4
				a(href="#")
					i.fa.fa-lock
				+h4-p('Web Security')