.links-sponsors
	ul
		li: a(href="#")
			img(src="./img/logos/envato.jpg", alt="ENVATO")
		li: a(href="#")
			img(src="./img/logos/designmodo.jpg", alt="DESIGNMODO")
		li: a(href="#")
			img(src="./img/logos/themeforest.jpg", alt="Themeforest")
		li: a(href="#")
			img(src="./img/logos/creative-market.jpg", alt="CREATIVE MARKET")