#team.our-amazing-team.bg-gray
	+container('Our Amazing Team', 'Lorem ipsum dolor sit amet, consectetur.')
		.row
			+col4-img-h4-p('./img/team/1.jpg','Kay Garland', 'Kay Garland', 'Lead Designer')
			+col4-img-h4-p('./img/team/2.jpg','Larry Parker', 'Larry Parker', 'Lead Marketer')
			+col4-img-h4-p('./img/team/3.jpg','Diana Pertersen', 'Diana Pertersen', 'Lead Developer')
		.parrafo
			p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste cumque, repellat eos velit nulla delectus voluptate, odit, mollitia aliquid maxime, reiciendis vel unde.